@model OgrData.Models.TblAdmin

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutLogin";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AdminUserName" class="control-label"></label>
                <input asp-for="AdminUserName" class="form-control" />
                <span asp-validation-for="AdminUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdminPasword" class="control-label"></label>
                <input asp-for="AdminPasword" class="form-control" />
                <span asp-validation-for="AdminPasword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

