@model OgrData.Models.TblLogin

@{
    ViewData["Title"] = "SifreIslemleri";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">ŞİFRE DEĞİŞTİRME</div>
                <div class="panel-body">
                    <form asp-action="SifreIslemleri" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                      
                       
                        <div class="form-group">
                            <label asp-for="Sıfre" class="control-label">Şifrenizi değiştirebilirsiniz</label>
                            <input asp-for="Sıfre"  class="form-control" />
                            <span asp-validation-for="Sıfre" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Değiştir" class="btn btn-primary" />
                        </div>
                        <br />
                        <br />
                        <br />
                        <br />

                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">YENİ ŞİFRE OLUŞTURURKEN</div>
                <div class="panel-body">
                    <p>Yeni Şifreniz</p>
                    <ul>
                        <li>En Az 9 Karakterden Oluşmalıdır,</li>
                        <li>En Fazla 15 Karakterden Oluşmalıdır,</li>
                        <li>En Az 1 adet Rakam Bulunmalıdır,  </li>
                        <li>En Az 1 adet Büyük Harf Bulunmalıdır, </li>
                        <li>En Az 1 adet Küçük Harf Bulunmalıdır.</li>

                    </ul>
                    <br />
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
