<div class="sidebar">
    <img id="_img" src="~/image/avatar1.png" alt="Avatar">
    <br />
    <br />
    <a href="#">Öğrenciler</a>
    <a href="">Dersler</a>
    <a asp-controller="Bolum" asp-action="Index">Bölümler</a>
    <a href="">Duyurular</a>
    <a href="">Çıkış</a>


</div>