
@{
    ViewData["Title"] = "Anasayfa";
    Layout = "~/Views/Shared/_LayoutMenu.cshtml";
}


<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">MESAJLAR</div>
            <div class="panel-body">
                <button type="submit" class="btn btn-success btn-block">Mesaj Gönder</button>
                <button type="submit" class="btn btn-primary btn-block">Mesajlar</button>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">DUYURULAR</div>
            <div class="panel-body">

            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-heading">DİĞER BİLGİLER</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">YÖNETMELİK</li>
                    <li class="list-group-item">AKADEMİK TAKVİM</li>
                    <li class="list-group-item">GÜNLÜK YEMEK LİSTESİ</li>
                </ul>
            </div>
        </div>
    </div>
</div>